{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="A Django blog with Tailwind CSS">
    <meta name="keywords" content="django, tailwind, blog">
    {% tailwind_css %}
    <style>
      @import url('https://fonts.googleapis.com/css2?family=inter:wght@400;700&display=swap');
      body {
        font-family: 'Inter', sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-50 min-h-screen text-black">
    {% block content %}
    {% endblock content %}
  </body>
</html>
