{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block content %}
  <div class="flex flex-col gap-8 p-4">
    <div>
      <h1 class="text-primary text-6xl">{{ post.title }}</h1>
      <p class="text-base-content/50 text-xl ml-1">{{ post.created_at|date:"F j, Y" }}</p>
    </div>
    <div class="mt-4">
      <p class="leading-relaxed">{{ post.content }}</p>
    </div>
    <p>
      {% translate "Thanks for reading!" %}
      <a href="{% url 'post_list' %}" class="text-primary hover:underline">{% translate "Back to posts" %}</a>
    </p>
  </div>
{% endblock content %}
